### Aliyun DNS Challenge Provider
# ALICLOUD_ACCESS_KEY=
# ALICLOUD_SECRET_KEY=
# ALICLOUD_REGION_ID=


### Cloudflare DNS Challenge Provider
### REF: https://medium.com/@svenvanginkel/traefik-letsencrypt-dns01-challenge-with-ovhcloud-52f2a2c6d08a
# CF_API_EMAIL=
# CF_DNS_API_TOKEN=